<% content_for :title, "Giras" %>

<div class="container">
  <div class="row justify-content-start">
    <div class="col text-center">
      <h1>Próximas Giras:</h1>
    </div>
  </div>

  <div id="giras">
    <% @giras.sort_by { |gira| gira.event_date }.group_by { |gira| gira.month_name }.each_with_index do |(mes, giras), index| %>
      <p class="d-inline-flex gap-1">
        <!-- Link que mostra o mês e a seta -->
        <a data-bs-toggle="collapse" href="#collapse<%= index %>" role="button" aria-expanded="false" aria-controls="collapse<%= index %>" class="collapsed">
          <h2 class="text-left mt-5"><%= mes %></h2>
          <!-- Ícone de seta -->
          <i class="bi bi-chevron-down"></i>
        </a>
      </p>

      <!-- Conteúdo que será mostrado/ocultado ao clicar -->
      <div class="collapse multi-collapse" id="collapse<%= index %>">
        <div class="row">
          <% giras.each_slice(2) do |gira_pair| %>
            <div class="row">
              <% gira_pair.each do |gira| %>
                <%= render gira %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? and current_user.name == 'admin' %>
    <%= link_to "New gira", new_gira_path %>
  <% end %>

</div>
